Repository Alokskj/event-hive: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier:fix

.lintstagedrc:

{
    "./src/**/*.{ts,tsx,json}": [
        "npm run lint",
        "npm run prettier:fix"
    ],
    "./client/src/**/*.{ts,tsx,json}": ["npm run lint"]
}

feat: Setup db schema
  client/src/app/router/routes/user/index.ts
  prisma/schema.prisma
Due: npm run lint

feat: Setup event module
  prisma/migrations/20250830084536_init/migration.sql
  prisma/migrations/migration_lock.toml
  src/controllers/event.controller.ts
  src/routes/event.routes.ts
  src/routes/index.ts
  src/schemas/event.schema.ts
  src/services/auth.service.ts
  src/services/event.service.ts
  src/types/event.types.ts
Due: npm run lint, npm run prettier:fix

Update README.md
  README.md
Due: none

feat: payment gateway and mail setup done
  prisma/migrations/20250830120408_added_on_delete_cascade_on_eventrole/migration.sql
  prisma/migrations/20250830150010_remove_unique_from_qr_codes/migration.sql
  prisma/schema.prisma
  public/test-payment.html
  src/config/_config.ts
  src/config/payment.config.ts
  src/controllers/analytics.controller.ts
  src/controllers/audit.controller.ts
  src/controllers/booking.controller.ts
  src/controllers/email.controller.ts
  src/controllers/event.controller.ts
  src/controllers/payment.controller.ts
  src/controllers/ticket.controller.ts
  src/index.ts
  src/lib/email/email-templates.ts
  src/lib/utils/jwt.ts
  src/lib/utils/ticket-pdf.ts
  src/middlewares/auth.middleware.ts
  src/routes/analytics.routes.ts
  src/routes/audit.routes.ts
  src/routes/email.routes.ts
  src/routes/index.ts
  src/routes/payment.routes.ts
  src/schemas/event.schema.ts
  src/services/analytics.service.ts
  src/services/auth.service.ts
  src/services/booking.service.ts
  src/services/email.service.ts
  src/services/event.service.ts
  src/services/file-upload.service.ts
  src/services/payment.service.ts
  src/types/event.types.ts
Due: npm run lint, npm run prettier:fix

feat: auth setup in frontend
  client/src/app/router/index.tsx
  client/src/app/router/routes/admin/index.ts
  client/src/app/router/routes/index.ts
  client/src/assets/styles/global.css
  client/src/components/layout/Navbar.tsx
  client/src/lib/validations/auth.ts
  client/src/modules/admin/hooks/index.ts
  client/src/modules/admin/index.ts
  client/src/modules/admin/pages/AdminAnalytics.tsx
  client/src/modules/admin/pages/AdminCategories.tsx
  client/src/modules/admin/pages/AdminDashboard.tsx
  client/src/modules/admin/pages/AdminFlaggedReports.tsx
  client/src/modules/admin/pages/AdminIssues.tsx
  client/src/modules/admin/pages/AdminUsers.tsx
  client/src/modules/admin/pages/index.ts
  client/src/modules/admin/services/api.ts
  client/src/modules/admin/types/index.ts
  client/src/modules/auth/components/ProtectedRoute.tsx
  client/src/modules/auth/hooks/useAuth.ts
  client/src/modules/auth/hooks/useAuthStore.ts
  client/src/modules/auth/index.ts
  client/src/modules/auth/pages/EmailVerificationWaitingPage.tsx
  client/src/modules/auth/pages/LoginPage.tsx
  client/src/modules/auth/pages/RegisterPage.tsx
  client/src/modules/auth/pages/VerifyEmailPage.tsx
  client/src/modules/auth/services/auth.service.ts
  client/src/modules/auth/types/index.ts
  client/src/modules/landing/components/sections/HeroSection.tsx
  client/src/modules/landing/components/sections/index.ts
  client/src/modules/landing/pages/HomePage.tsx
  client/src/modules/landing/pages/index.ts
  client/src/utils/env.ts
  prisma/seed.ts
  src/config/_config.ts
  src/controllers/auth.controller.ts
  src/index.ts
  src/lib/email/email-templates.ts
Due: npm run lint, npm run prettier:fix

fix: bugs in auth
  client/src/app/router/index.tsx
  client/src/app/router/routes/index.ts
  client/src/app/router/routes/user/index.ts
  client/src/modules/auth/hooks/useAuth.ts
  client/src/modules/auth/pages/LoginPage.tsx
  client/src/modules/auth/services/auth.service.ts
  client/src/modules/auth/types/index.ts
  src/lib/email/email-templates.ts
Due: npm run lint, npm run prettier:fix

feat: setup reports export
  .github/instructions/instructions.instructions.md
  client/src/app/App.tsx
  client/src/assets/styles/global.css
  client/src/modules/dashboard/pages/HostedEventPage.tsx
  client/src/modules/events/lib/geocode.ts
  client/src/modules/events/pages/BookingConfirmationPage.tsx
  client/src/modules/events/pages/EventDetailsPage.tsx
  client/src/modules/events/pages/ExploreEventsPage.tsx
  src/controllers/analytics.controller.ts
  src/controllers/booking.controller.ts
  src/controllers/checkin.controller.ts
  src/routes/analytics.routes.ts
  src/schemas/booking.schema.ts
  src/services/analytics.service.ts
  src/services/booking.service.ts
Due: npm run lint, npm run prettier:fix

feat: adds the animation
  client/src/assets/styles/global.css
  client/src/components/layout/DashboardLayout.tsx
  client/src/components/layout/Navbar.tsx
  client/src/modules/landing/components/sections/CTASection.tsx
  client/src/modules/landing/components/sections/CategoriesSection.tsx
  client/src/modules/landing/components/sections/FeaturesSection.tsx
  client/src/modules/landing/components/sections/FooterSection.tsx
  client/src/modules/landing/components/sections/HeroSection.tsx
  client/src/modules/landing/components/sections/HowItWorksSection.tsx
  client/src/modules/landing/components/sections/ShowcaseSection.tsx
  client/src/modules/landing/components/sections/StatsSection.tsx
  client/src/modules/landing/components/sections/TestimonialsSection.tsx
  client/src/modules/landing/components/sections/index.ts
  client/src/modules/landing/pages/HomePage.tsx
  src/services/event.service.ts
Due: npm run lint, npm run prettier:fix

feat: adds animations to sections
  client/src/assets/styles/global.css
  client/src/components/layout/Navbar.tsx
  client/src/modules/landing/components/hooks/useReveal.tsx
  client/src/modules/landing/components/sections/CTASection.tsx
  client/src/modules/landing/components/sections/CategoriesSection.tsx
  client/src/modules/landing/components/sections/FeaturesSection.tsx
  client/src/modules/landing/components/sections/HeroSection.tsx
  client/src/modules/landing/components/sections/HowItWorksSection.tsx
  client/src/modules/landing/components/sections/TestimonialsSection.tsx
Due: npm run lint

feat: added video link
  README.md
  client/src/modules/events/pages/BookingConfirmationPage.tsx
  client/src/modules/events/pages/ExploreEventsPage.tsx
  src/services/event.service.ts
Due: npm run lint, npm run prettier:fix
